Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

**Objectives:**
- List popular languages for Data Science
- Introduction to R studio
- Introduction to Python

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

| Data Science Tools |
|-------------------------|
|1. Jupyther Notebook|
|2. Visual Studio Code|
|3. RStudio|

<H3>Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Luis Giler